* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.header-section {
    background-color: whitesmoke;
}

.banner-bg {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-section {
    background-color: whitesmoke;
}
